node_modules
.next
out
build
dist
npm-debug.log*
yarn.lock
pnpm-lock.yaml

.git
.gitignore
.eslintcache

Dockerfile
docker-compose.yml

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
