version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: temur-seo-app-web
    ports:
      - "40123:3000"
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - PORT=3000
    restart: unless-stopped
